/* common styles */
body{
  margin: 10px;
  font-family: sans-serif;
  padding: 10px;

}

h1,h2,h3,h4,h5 {
  font-family: 'Roboto Slab', serif;

}

.feature-section > .column-wrapper {
	width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.feature-section > .column-wrapper > .column {
	padding: 20px;
	margin: 42px;
	text-align: center;
	border-bottom: 5px solid transparent;
	border-radius: 10px;
	transition: 1s;
}

.feature-section > .column-wrapper > .column:hover {
	border-bottom: 5px solid #11122b;
}

.feature-section > .column-wrapper > .column :nth-child(1) {
	font-size: 3em;

}

.column-wrapper > .column :nth-child(2) {
	font-size: 1.5em;
	font-weight: 900px;
	height: 50px;
	transition: 1s; 

}

.column-wrapper > .column :nth-child(3), .column-wrapper > .column :nth-child(2):hover {
	letter-spacing: 2px;

}

/* Footer Section*/

.footer-section {
	background-color: #11122b;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #cbcbcb;
	flex-direction: column;
	height: 400px;
}

.footer-section > .footer-image img{
	width: 180px;
    filter: contrast(0.5);
    margin-bottom: 10px;
}

.footer-section > .links-wrapper > .nav-link{
	padding: 20px;
}

.footer-section > .footer-phone-hours span{
	margin: 0px 10px 0px 10px;
	font-size: 1em;
	letter-spacing: 2px;
}

.footer-section > .footer-phone-hours > .hour{
	font-size: 0.8em;
	color: #cea135;
	text-transform: uppercase;
}
.footer-section > .footer-social-media-logo{
	display: flex;
	justify-content: space-around;
	width: 300px;
	margin: 40px 0 40px 0;
}
.footer-section > .footer-social-media-logo a{
	font-size: 1.5em;
	transition: 0.5s;
	color: #cbcbcb;
}

.footer-section > .footer-social-media-logo a:hover{
	color: #cea135;
}

.footer-section > .footer-copyright {
	margin-bottom: 40px;
	font-size: 0.7em;
	color: #858585;
}
















